body{
    background-color: rgb(197, 239, 255);
    font-family: 'Times New Roman', Times, serif;
    
}
header{
    text-align: center;
    color: red;
    font-family: Georgia;
    font-weight: bold;
}
header img{
    width: 100%;
}
#honda1{
    text-align: justify;
    padding: 10px;
}
#honda1 img{
float: right;
width: 150px;
padding:5px;
}

#honda2{
    text-align: justify;
    padding: 10px;
}

#honda2 img{
    float: left;
    width: 150px;
    padding: 5px;
}
h2{
   text-align: right;
    color: blue;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
   border-bottom: solid 3px blue;
   
}
hr{
    margin-top:none;
    border-color: blue;
    color: blue;
}

 #caracteristicas div{
    background-color: rgb(233, 233, 139);
    border: 2px dotted black;
    padding: 20px 50px 20px 50px;
    width: 40%;
    margin: 20px 0px 20px 50px;

}
#caracteristicas div ol{
    font-size: 14px;
    color: blue;
}

#presupuesto div{
    text-align: center;
    font-size: 30px;
    background-color: white;
    padding: 3px;
    margin-top: 20px ;
    font-weight: bold;
}
#fotografias div{
   width: 100%;
}

#fotografias div{
    text-align: center;

}
#presupuesto span{
    color:red;
}
#fotografias a{
text-decoration: none;
}
#fotografias a:hover{
    text-decoration: underline;
    color: red;
    }