body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
}

table{
    border-collapse: collapse;
    border: solid 1px gray;
    margin: auto;
    margin-bottom:80px ;
}
th{
    color: rgb(168, 168, 42);
    background-color: rgb(255, 255, 202);
    border-bottom: solid 1px;
    padding: 10px;
    
}
td{
    padding: 10px;
}

.gris{
background-color: rgb(250, 254, 255);
}
.azul{
background-color: rgb(225, 248, 255);
}
caption{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    text-align: center;
    font-size: 36px;
}

.tableSubirNota{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    color: gray;
    
}

.tableSubirNota caption{
color: blue;

}
.tableSubirNota th{
    color:white;
    background-color: rgb(29, 182, 233);
    padding: 7px;
}
.headerRojo{
background-color: rgb(245, 85, 37);
color: white;
padding: 7px;
}
.izq{
    background-color: rgb(221, 173, 15);
    color: white;
    font-size: 15px;
}