#titulo_carteles {
  /*Poner una linea encima*/
  color: #000000;
  text-align: center;
  font-size: 7rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
  margin-top: .5rem;
}


#lineas_carteles {
  color: rgb(0, 0, 0);
  height: 5px;
  background-color: rgb(0, 0, 0);
}

#carteles_body {
  background-image: url(assets/fondoLOL2.jpg  );
}

.dropdown {
  position: absolute; /* Posiciona el contenedor del menú desplegable de forma relativa */
  top: 2%; /* Distancia desde la parte superior de su contenedor */
  left: 0.5%; /* Distancia desde la izquierda de su contenedor */
  z-index: 10; /* Asegura que el menú esté por encima de otros elementos */
  display: inline-table; /* Permite que el elemento se muestre en línea manteniendo su tamaño */
   
}

.menu {
  /* Colores */
  background-color: transparent; /* Establece el color de fondo para el menú */

  /* Espaciado */
  padding: 10px; /* Espaciado interno del botón */

  /* Dimensiones */
  height: 5rem; /* Altura del botón */
  width: 5rem; /* Ancho del botón */

  /* Bordes */
  border-radius: 0.5rem; /* Bordes redondeados */
  border: .35rem solid #000000; /* Bordes del botón */

  /* Posicionamiento */
  position: relative; /* Posiciona el botón de forma absoluta */
  top: 0%;
  left: 0%;
  /* Interactividad */
  cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el botón */
}
.menu svg{
  position: absolute;
  top: -1%;
  left: -3%;
}

.menu:hover {
  background-color: rgb(
    255,
    255,
    255
  ); /* Cambia el color de fondo al pasar el ratón por encima */
}



/* Estilo del menú desplegable cuando está oculto */
.dropdown-child {
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif; /* Fuente del menú desplegable */
  background-color: "af88df"; /* Color de fondo del menú desplegable */
  display: none; /* Oculta el menú por defecto */
  min-width: 300px; /* Ancho mínimo del menú desplegable */
  position: relative; /* Posiciona el menú desplegable de forma absoluta */
  z-index: 1; /* Asegura que el menú desplegable esté por encima de otros elementos */
  border-radius: 15px;
}
.dropdown-child1:hover {
  background-color: rgb(
    215,
    0,
    0
  ); /* Cambia el color de fondo al pasar el ratón por encima */
  border-radius: 15px;
}
.dropdown-child2:hover {
  background-color: rgb(
    215,
    0,
    0
  ); /* Cambia el color de fondo al pasar el ratón por encima */
  border-radius: 15px;
}
.dropdown-child3:hover {
  background-color: rgb(
    215,
    0,
    0
  ); /* Cambia el color de fondo al pasar el ratón por encima */
  border-radius: 15px;
}

.dropdown-child a {
  color: white; /* Color del texto de los enlaces en el menú desplegable */
  padding: 10px; /* Espaciado interno de los enlaces */
  text-decoration: none; /* Sin subrayado en los enlaces */
  display: block; /* Hace que los enlaces ocupen todo el ancho del contenedor */
}

.dropdown:hover .dropdown-child {
  display: block; /* Muestra el menú desplegable al pasar el ratón por encima del contenedor */
}

.search-container {
  position: absolute; /* Posiciona el contenedor de búsqueda */
  top: 3%; /* Margen desde la parte superior */
  right: 0.5%; /* Margen desde la derecha */
  border: 2px solid white;
  border-radius: 0.3rem;
  
}

.search-input {
  padding: 10px; /* Espaciado interno */
  
   /* Bordes redondeados */
  width: 15rem; /* Ancho de la barra de búsqueda */
  background-color: #000000;
}

/* Estilo para el placeholder(palabra dentro de la barra de búsqueda) */
.search-input::placeholder {
  color: #ffffff;
  opacity: 1; /* Asegúrate de que la opacidad esté en 1 para que sea completamente visible */
  font-size: 17px;
}

/* Estilos para centrar el botón */
.center-button {
  position: absolute;
  top: 50%;
  left: 59rem;

}

/* Estilos para el botón grande */
.big-button {
  /* Dimensiones del botón */
  width: 40rem;
  height: 15rem;

  /* Espaciado interno del botón */
  padding: 20px 40px;

  /* Estilo de texto */
  font-family: fantasy; /* Tipo de fuente */

  /* Colores */
  background-color: #d00000; /* Color de fondo */
  color: white; /* Color del texto */

  /* Bordes */
  border: none; /* Sin borde */
  border-radius: 25px; /* Bordes redondeados */

  /* Interacción */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */

  /* Transiciones */
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 600%;
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

/* Estilo del botón al pasar el ratón */
.big-button:hover {
  background-color: #07622d; /* Color de fondo al pasar el ratón */
  /* Dimensiones del botón */
  width: 40rem;
  height: 15rem;
  font-size: 750%;
  transform: translate(-50%, -50%) scale(1.25);
  transition: 0.3s;
  transition-delay: 0.15s;
}
.big-button:not(hover) {
  background-color: #d00000; /* Color de fondo al no pasar el ratón */
  font-size: 600%;
  transition: all 0.5s ease;
  transition: 0.5s;
  transition-delay: 0.15s;
}

/* Estilos para los botones de autenticación */
.auth-buttons {
  position: absolute;
  top: 35px;
  right: 15%;
}

.auth-button {
  
  background-color: #000000; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 10px; /* Espacio entre los botones */
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button:hover{
 background-color: red;
}