#titulo_index {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration-line: line-through;
  font-size: 100px;
  background-color: rgb(0, 0, 0);
}
#lineas_index {
  color: rgb(0, 0, 0);
  height: 5px;
  background-color: rgb(0, 0, 0);
}

.index_body {
  /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(142,142,247,1) 50%, rgba(0,172,207,1) 100%); */
  background-image: url(assets/pingu.jpeg);
  background-size: 475px 475px;
}

.menu {
  /* Tipografía */
  font-family: Arial, Helvetica, sans-serif; /* Define la fuente del menú */
  font-weight: bold; /* Establece el texto en negrita */
  font-size: 32px; /* Tamaño de la fuente */

  /* Colores */
  background-color: #af88df; /* Establece el color de fondo para el menú */
  color: rgb(0, 0, 0); /* Color del texto */

  /* Espaciado */
  padding: 20px; /* Espaciado interno del botón */

  /* Dimensiones */
  height: 100px; /* Altura del botón */
  width: 235px; /* Ancho del botón */

  /* Bordes */
  border-radius: 50px; /* Bordes redondeados */
  border: 7px solid #16032c; /* Bordes del botón */

  /* Posicionamiento */
  position: relative; /* Posiciona el botón de forma absoluta */

  /* Interactividad */
  cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el botón */
}

.menu:hover {
  background-color: rgb(
    255,
    255,
    255
  ); /* Cambia el color de fondo al pasar el ratón por encima */
}

.dropdown {
  position: absolute; /* Posiciona el contenedor del menú desplegable de forma relativa */
  top: 90px; /* Distancia desde la parte superior de su contenedor */
  left: 50px; /* Distancia desde la izquierda de su contenedor */
  z-index: 10; /* Asegura que el menú esté por encima de otros elementos */
  display: inline-table; /* Permite que el elemento se muestre en línea manteniendo su tamaño */
  margin-top: 0px; /* Margen superior, se establece en 0 */
}

/* Estilo del menú desplegable cuando está oculto */
.dropdown-child {
  background-color: rgb(94, 7, 138);
  font-family: Arial, Helvetica, sans-serif; /* Fuente del menú desplegable */
  background-color: "af88df"; /* Color de fondo del menú desplegable */
  display: none; /* Oculta el menú por defecto */
  min-width: 300px; /* Ancho mínimo del menú desplegable */
  position: relative; /* Posiciona el menú desplegable de forma absoluta */
  z-index: 1; /* Asegura que el menú desplegable esté por encima de otros elementos */
  border-radius: 15px;
}
.dropdown-child1:hover {
  background-color: rgb(
    215,
    0,
    0
  ); /* Cambia el color de fondo al pasar el ratón por encima */
  border-radius: 15px;
}
.dropdown-child2:hover {
  background-color: rgb(
    215,
    0,
    0
  ); /* Cambia el color de fondo al pasar el ratón por encima */
  border-radius: 15px;
}
.dropdown-child3:hover {
  background-color: rgb(
    215,
    0,
    0
  ); /* Cambia el color de fondo al pasar el ratón por encima */
  border-radius: 15px;
}

.dropdown-child a {
  color: white; /* Color del texto de los enlaces en el menú desplegable */
  padding: 10px; /* Espaciado interno de los enlaces */
  text-decoration: none; /* Sin subrayado en los enlaces */
  display: block; /* Hace que los enlaces ocupen todo el ancho del contenedor */
}

.dropdown:hover .dropdown-child {
  display: block; /* Muestra el menú desplegable al pasar el ratón por encima del contenedor */
}

.search-container {
  position: absolute; /* Posiciona el contenedor de búsqueda */
  top: 110px; /* Margen desde la parte superior */
  right: 50px; /* Margen desde la derecha */
}

.search-input {
  padding: 10px; /* Espaciado interno */
  border: 7px solid #16032c; /* Borde de la barra de búsqueda */
  border-radius: 25px; /* Bordes redondeados */
  width: 270px; /* Ancho de la barra de búsqueda */
  background-color: #af88df;
}

/* Estilo para el placeholder(palabra dentro de la barra de búsqueda) */
.search-input::placeholder {
  color: #000000;
  opacity: 1; /* Asegúrate de que la opacidad esté en 1 para que sea completamente visible */
  font-size: 17px;
}
/* Estilos para centrar el botón */
.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la ventana */
}

/* Estilos para el botón grande */
.big-button {
  /* Dimensiones del botón */
  width: 700px;
  height: 300px;

  /* Espaciado interno del botón */
  padding: 20px 40px;

  /* Estilo de texto */
  font-family: fantasy; /* Tipo de fuente */

  /* Colores */
  background-color: #d00000; /* Color de fondo */
  color: white; /* Color del texto */

  /* Bordes */
  border: none; /* Sin borde */
  border-radius: 25px; /* Bordes redondeados */

  /* Interacción */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */

  /* Transiciones */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

/* Estilo del botón al pasar el ratón */
.big-button:hover {
  background-color: #07622d; /* Color de fondo al pasar el ratón */
  /* Dimensiones del botón */
  width: 900px;
  height: 500px;
  font-size: 1200%;
  transition: 0.3s;
  transition-delay: 0.15s;
}
.big-button:not(hover) {
  background-color: #07622d; /* Color de fondo al no pasar el ratón */
  font-size: 600%;
  transition: 0.5s;
  transition-delay: 0.15s;
}
