#titulo_carteles {
  /*Poner una linea encima*/
  color: #ece0dd;
  text-align: left;
  font-size: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 70px;
  margin-bottom: 10px;
  padding: 0.5rem;
}

#lineas_carteles {
  color: rgb(255, 255, 255);
  height: 5px;
  background-color: rgb(255, 255, 255);
}

#carteles_body {
  
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(14,197,250,1) 1%, rgba(111,111,237,1) 38%, rgba(0,212,255,1) 100%);
}


.dropdown {
  position: absolute; /* Posiciona el contenedor del menú desplegable de forma relativa */
  top: 2%; /* Distancia desde la parte superior de su contenedor */
  left: 0.5%; /* Distancia desde la izquierda de su contenedor */
  z-index: 10; /* Asegura que el menú esté por encima de otros elementos */
  display: inline-table; /* Permite que el elemento se muestre en línea manteniendo su tamaño */
   
}

.menu {
  /* Colores */
  background-color: transparent; /* Establece el color de fondo para el menú */

  /* Espaciado */
  padding: 10px; /* Espaciado interno del botón */

  /* Dimensiones */
  height: 5rem; /* Altura del botón */
  width: 5rem; /* Ancho del botón */

  /* Bordes */
  border-radius: 0.5rem; /* Bordes redondeados */
  border: .35rem solid #000000; /* Bordes del botón */

  /* Posicionamiento */
  position: relative; /* Posiciona el botón de forma absoluta */
  top: 0%;
  left: 0%;
  /* Interactividad */
  cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el botón */
}
.menu svg{
  position: absolute;
  top: -1%;
  left: -3%;
}

.menu:hover {
  background-color: rgb(
    255,
    255,
    255
  ); /* Cambia el color de fondo al pasar el ratón por encima */
}



/* Estilo del menú desplegable cuando está oculto */
.dropdown-child {
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif; /* Fuente del menú desplegable */
  background-color: "af88df"; /* Color de fondo del menú desplegable */
  display: none; /* Oculta el menú por defecto */
  min-width: 300px; /* Ancho mínimo del menú desplegable */
  position: relative; /* Posiciona el menú desplegable de forma absoluta */
  z-index: 1; /* Asegura que el menú desplegable esté por encima de otros elementos */
  border-radius: 15px;
}
.dropdown-child1:hover {
  background-color: rgb(
    215,
    0,
    0
  ); /* Cambia el color de fondo al pasar el ratón por encima */
  border-radius: 15px;
}
.dropdown-child2:hover {
  background-color: rgb(
    215,
    0,
    0
  ); /* Cambia el color de fondo al pasar el ratón por encima */
  border-radius: 15px;
}
.dropdown-child3:hover {
  background-color: rgb(
    215,
    0,
    0
  ); /* Cambia el color de fondo al pasar el ratón por encima */
  border-radius: 15px;
}

.dropdown-child a {
  color: white; /* Color del texto de los enlaces en el menú desplegable */
  padding: 10px; /* Espaciado interno de los enlaces */
  text-decoration: none; /* Sin subrayado en los enlaces */
  display: block; /* Hace que los enlaces ocupen todo el ancho del contenedor */
}

.dropdown:hover .dropdown-child {
  display: block; /* Muestra el menú desplegable al pasar el ratón por encima del contenedor */
}

.search-container {
  position: absolute; /* Posiciona el contenedor de búsqueda */
  top: 3%; /* Margen desde la parte superior */
  right: 0.5%; /* Margen desde la derecha */
  border: 2px solid white;
  border-radius: 0.3rem;
  
}

.search-input {
  padding: 10px; /* Espaciado interno */
  
   /* Bordes redondeados */
  width: 15rem; /* Ancho de la barra de búsqueda */
  background-color: #000000;
}

/* Estilo para el placeholder(palabra dentro de la barra de búsqueda) */
.search-input::placeholder {
  color: #ffffff;
  opacity: 1; /* Asegúrate de que la opacidad esté en 1 para que sea completamente visible */
  font-size: 17px;
}

/* Estilo del contenedor de imágenes */
#imagenes_desp {
  /* Muestra los elementos hijos en una fila y los centra horizontalmente */
  display: flex;
  justify-content: center;
  /* Establece el ancho y alto del contenedor */
  width: 100%;
}

/* Estilo de las imágenes dentro del contenedor */
#imagenes_desp img {
  /* Redondea los bordes de las imágenes */
  border-radius: 60px;
  /* Establece el ancho inicial de las imágenes en 0px */
  width: 15rem;
  /* Permite que las imágenes crezcan para ocupar el espacio disponible */
  flex-grow: 1;
  /* Ajusta el tamaño de las imágenes para que se adapten al contenedor */
  object-fit: cover;
  /* Establece la opacidad inicial de las imágenes en 3 (valor incorrecto, debería ser entre 0 y 1) */
  opacity: 0.5;
  /* Establece la duración y tipo de transición para los efectos de hover */
  transition: 0.5s ease;

  margin: 10px auto;
  /* Centra las imágenes y añade margen */

  height: 500px;
  /* Mantiene la proporción de las imágenes */
}

/* Estilo de las imágenes al hacer hover */
#imagenes_desp img:hover {
  /* Cambia el cursor a una cruz de precisión */
  cursor: crosshair;
  /* Establece el ancho de las imágenes en 300px al hacer hover */
  width: 40rem;
  /* Establece la opacidad en 1 al hacer hover */
  opacity: 1;
  /* Aumenta el contraste de las imágenes en un 20% al hacer hover */
  filter: contrast(120%);


}