#header_block{
display: flex;
align-items: center;
}

.menu_block{
  position: relative;
  width: 7%;
  height: 100%;
}

.menu {
  /* Tipografía */
  font-family: Arial, Helvetica, sans-serif; /* Define la fuente del menú */
  font-weight: bold; /* Establece el texto en negrita */
  font-size: 32px; /* Tamaño de la fuente */
  

  /* Colores */
  background-color: #af88df; /* Establece el color de fondo para el menú */
  color: rgb(0, 0, 0); /* Color del texto */

  /* Espaciado */
   /* Espaciado interno del botón */

  /* Dimensiones */
  height: 6.5rem; /* Altura del botón */
  width: 100%; /* Ancho del botón */

  /* Bordes */
  border-radius:; /* Bordes redondeados */
  border: 7px solid #16032c; /* Bordes del botón */

 

  /* Interactividad */
  cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el botón */ 

}

.menu:hover {
  background-color: rgb(
    255,
    255,
    255
  ); /* Cambia el color de fondo al pasar el ratón por encima */
}


/* Estilo del menú desplegable cuando está oculto */
.dropdown-child {
  display: none;
  position: absolute;
  top: 100%; /* Distancia desde la parte superior de su contenedor */
  left: 0;
  background-color: rgb(94, 7, 138);
  font-family: Arial, Helvetica, sans-serif; /* Fuente del menú desplegable */
  min-width: 300px; /* Ancho mínimo del menú desplegable */
  z-index: 1; /* Asegura que el menú desplegable esté por encima de otros elementos */
  border-radius: 15px;
}
menu:hover+ .dropdown-child, .dropdown-child:hover{
  display: block;/* Muestra el desplegable cuando se pasa el ratón sobre el botón o el desplegable mismo */
}

.dropdown-child a {
  color: white; /* Color del texto de los enlaces en el menú desplegable */
  padding: 10px; /* Espaciado interno de los enlaces */
  text-decoration: none; /* Sin subrayado en los enlaces */
  display: block; /* Hace que los enlaces ocupen todo el ancho del contenedor */
}





.titulo{
  width: 78%;
  height: 6.5rem; 
  background-color: yellowgreen;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.7rem;


}
.busqueda{
  width: 15%;
  height:6.5rem;

}

